# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

on: [push]

jobs:
  build-server:
    runs-on: self-hosted

    defaults:
      run:
        working-directory: server

    steps:
      - uses: actions/checkout@v4
      - name: Create .env file
        run: |
          echo "${{ secrets.SERVER_FULL_ENV }}" > $GITHUB_ENV
          echo "${{ secrets.SERVER_FULL_ENV }}" > .env
      - name: Set up Python 3.12.4
        uses: actions/setup-python@v3
        with:
          python-version: "3.12.4"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install flake8
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
      - name: Lint with flake8
        run: |
          # stop the build if there are Python syntax errors or undefined names
          flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
          # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
          flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics

  deploy-server:
    needs: build-server

    runs-on: self-hosted

    defaults:
      run:
        working-directory: /home/node/opal/server

    steps:
      - name: test
        run: |
          pwd
          ls -a

  build-frontend:
    runs-on: self-hosted

    defaults:
      run:
        working-directory: frontend

    steps:
      - uses: actions/checkout@v4
      - name: Create .env file
        run: |
          echo "${{ secrets.FRONTEND_FULL_ENV }}" > $GITHUB_ENV
          echo "${{ secrets.FRONTEND_FULL_ENV }}" > .env
      - name: Use Node.js 20.16.0
        uses: actions/setup-node@v4
        with:
          node-version: "20.16.0"
      - run: npm ci
      - run: npm run build --if-present
      - uses: actions/upload-artifact@v4
        with:
          path:

  deploy-frontend:
    needs: build-frontend

    runs-on: self-hosted

    defaults:
      run:
        working-directory: /home/node/opal/frontend

    steps:
      - name: test
        run: |
          pwd
          ls -a
